html {
	height: 100%;
	overflow: hidden
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

canvas {
	border: 1px solid #d3d3d3;
	background-color: #f1f1f1;
}

#menu {
	position: fixed;
	height: 200px;
	width: 200px;
	top: 45%;
	left: 45%;
}

#ui #top {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	height: auto;
	padding: 3px;
	width: 100%; 
	position: absolute;
	top: 0px;
	font-size: 12px;
	color: white;
	text-shadow: black 0px 0px 4px;
}

#ui #bottom{
	background-color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	height: 50px;
	width: 50%;
	position: fixed;
	bottom: 0px;
	left: 30%;
	font-size: 12px;
	color: black;
	background-position: right 20px bottom 20px;
	text-shadow: black 0px 0px 4px;
	border-radius: 25px;
}


.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 0px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
}

.menuButton {
	width: 100px;
	height: 100px;
	background-color: white;
	color: black; 
	border: 2px solid #4CAF50;
	font-size: 16px;
}

.menuButton:hover {
	background-color: #4CAF50;
	color: white;
}

.button1 {
	background-color: white; 
	color: black; 
	border: 2px solid #4CAF50;
}


.button1:hover {
	background-color: #4CAF50;
	color: white;
}

.button2{
	background-color: red; 
	color: yellow; 
	border: 2px solid #4CA320;
}

.myButton{
	border:none;
	width: 50px;
	height: 50px;
}

.myButton:hover{   
	width: 60px;
	height: 60px;
}


