html {
	height: 100%;
	overflow: hidden
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow: hidden;
}

canvas {
	border: 1px solid #d3d3d3;
	background-color: #f1f1f1;
}

#hub{ 
	position:absolute; 
}



/**** Accordion stuff ****/

button.accordion {
		padding: 18px;
		background-color: black;
		color: #444;
		cursor: pointer;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
		transition: 0.2s;
}

button.accordion.active{
	background-color: black;
}

button.accordion:hover {
		background-color: #ddd;
}

div.accordion-panel {
		padding-top: 5px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
		display: none;
		max-height: 300px;
		background-color: white;
		color: black;
		overflow-y: scroll;
}

div.accordion-panel.show {
		display: block;
}


/**** other stuff ****/

.floatedImg{
		float: left;
		cursor: pointer;
}

.menu{
	position:absolute; 
	width:400px; 
	height:100px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding-right: 10px;
    text-align: center;
    content: url("imgs/plus.png");
    width: 64px;
    height: 64px;
}

