html {
	height: 100%;
	overflow: hidden
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow: hidden;
	font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 12px;
}

canvas {
	border: 1px solid #d3d3d3;
	background-color: #f1f1f1;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.myCanvas {
	position:absolute;
}


#hub{ 
	position:absolute;
	background-color: #333; 
}


/**** other stuff ****/

.floatedImg{
	float: left;
	cursor: pointer;
}

.menu{
	position:absolute; 
	width:400px; 
	height:100px;
}


/* replace file uploading */
input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
}

.dropdown-content label {
	cursor: pointer;
}


/* menu buttons */

.menuBtn {	
	background-color: #221c1c;
	color: grey; 
}


/*.menuBtn:hover {
	background-color: #3b2b2b;
	color: white;
}*/




/**** Accordion stuff ****/

button.accordion {
	padding: 18px;
	background-color: black;
	color: #444;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.2s;
}

button.accordion.active{
	background-color: black;
}

button.accordion:hover {
	background-color: #ddd;
}

div.accordion-panel {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	display: none;
	max-height: 300px;
	background-color: white;
	color: black;
	overflow-y: scroll;
}


div.accordion-panel.show {
	display: block;
}


#hub ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}


li {
    float: left;
}


li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px; 
    text-decoration: none;
	cursor: pointer;
}


/* Change the link color to #111 (black) on hover */
li a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
}


li.dropdown {
    display: inline-block;
}

i {
	padding: 2px 2px; 
}

i:hover {
 background-color: #555;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
    color: #999;
    padding-left: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
	background-color: #f1f1f1
}


.dropdown:hover .dropdown-content {
    display: block;
}


.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #333;
}


.flex-item {
    background-color: #555;
    height: 100%;
    margin: 2px;
	padding-top: 2px;
	padding-left: 4px;
	color: #999;
	overflow-y: scroll;
}


.flex-item input[type=text] {
    width: 75px;
	height: 20px;
    padding: 4px 3px;
    margin: 3px 0;
    box-sizing: border-box;
    border: 1px solid #777;
    -webkit-transition: 0.1s;
    outline: none;
	background-color: #666;
}


.flex-item input[type=text]:focus {
    border: 1px solid #999;	
}


.flex-item label {
	padding-bottom: 1px;
	padding-left: 5px;
	width: 125px; 
	display: inline-block;
}


.flex-item header{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin: 4px 1px;
	color: white;
    background-color: #222;
	width: 95%;

}



